<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @friend.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @friend.address %>
</p>

<p>
  <strong>Contactnum:</strong>
  <%= @friend.contactnum %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @friend.birthday %>
</p>

<p>
  <strong>Ispokemon:</strong>
  <%= @friend.isPokemon %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @friend.photo %>
</p>

<%= link_to 'Edit', edit_friend_path(@friend) %> |
<%= link_to 'Back', friends_path %>
